# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart Specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android Specific
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/build/
android/.gradle/
android/captures/

# iOS Specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/

# Windows Specific
windows/flutter/ephemeral/

# Linux Specific
linux/flutter/ephemeral/

# macOS Specific
macos/flutter/ephemeral/